body {
    background-color: beige;
    text-align: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Helvetica", sans-serif;
}

.ContentSection {
    background-color:lightblue;
    text-align: center;
}

ul { 
    position: relative;
    list-style-position: inside
}


